.title {
    font-weight: 900;
    line-height: 1
}

.infoItem {
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

    h3 {
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0 10px 0;
    }

    p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

    img {
        width: 50px;
        height: 50px;
    }
}

.hasAccount {
    font-size: 14px;
    margin-top: 20px;

    a {
        text-decoration: underline;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: #000;
        font-size: 14px;

        &:hover {
            background-color: transparent;
        }
    }
}

.form {
    background: #FFFFFF;
    padding: 30px;
}

.form input, .form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none !important;
    border-radius: 0;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form input:focus, .form textarea:focus {
    border-color: var(--accent-color);
}

.form input::placeholder, .form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}

@media (min-width: 1400px) {
    .title {
        font-size: 4.5rem;
    }
}

@media (max-width: 1399.98px) {
    .title {
        font-size: 3.5rem;
    }
}

@media (max-width: 991.98px) {
    .title {
        font-size: 1.8rem;
    }
}

@media (max-width: 575.98px) {
    .form {
        padding: 30px 20px;
    }
}