.showHidePasswordIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    cursor: pointer;
    // background-color: #fff;
    border-left: 1px solid #bbb;
}