body {
	color: #333333;
	background-color: #EFEFEF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.8rem;
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background: #0e1d2c;
	border-radius: 10px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Nunito', sans-serif;
}
.font-nunito {
	font-family: 'Nunito', sans-serif;
}
.text-muted {
	color: #8e98a2 !important;
}
.bg-dark {
	background: #0e1d2c !important;
}
.narrow {
	max-width: 800px;
}
.bg-main {
	background: #212529;
}
li, ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.title {
	font-weight: 900;
	line-height: 1
}
.flex-row-scroll {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.flex-row-scroll::-webkit-scrollbar {
    display: none;
}
/*-- Min Width Media Queries --*/
@media (min-width: 992px) {
	.primary-nav .dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0;
	}
	.primary-nav .dropdown-menu {
		border-top: 3px solid #212529;
		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
	}
}

@media (min-width: 1400px) {
	body {
		font-size: 1.125rem;
	}
	.primary-nav .navbar-nav .nav-link {
		font-size: 1.125rem;
	}
	.title {
		font-size: 4.5rem;
	}
}

/*-- Max Width Media Queries --*/
@media (max-width: 1399.98px) {
	.portfolio {
		margin-top: 80px;
	}
	.project-title {
		font-size: 1.125rem;
	}
	.blog-post-title {
		font-size: 1.2rem;
	}
	.title {
		font-size: 3.5rem;
	}
}

@media (max-width: 991.98px) {
	.primary-nav .navbar-brand img {
		max-width: 90px
	}
	.content {
		text-align: center
	}
	.title {
		font-size: 1.8rem;
	}
}