.footer a {
	color: #8e98a2;
	text-decoration: none
}
.footer a:hover {
	color: #fff;
}
.footerLogo {
	max-width: 140px;
}
.footerTitle {
	font-size: 1.225rem;
}
.footerContact img {
	max-width: 18px;
}
.footerCredits {
	border-top: 1px solid rgba(255, 255, 255, .1)
}
.footerSocial ul li img {
	max-width: 18px;
}