.ctaTitle {
	font-size: 3rem
}
.ctaImage {
	position: absolute;
	top: -40px;
	right: 120px;
	width: 280px;
}

.cta {

    a, button {
        outline: none;
        text-decoration: none;
        border: none;
        padding: 12px 36px;
        border-radius: 28px;
        font-size: 16px;
        background-color: #FFFFFF;
        color: #0e1d2c;
        margin-top: 20px;
        display: inline-block;
        cursor: pointer;
        transition: all .4s ease-in-out;
        font-weight: bold;
    }

    .ctaContent {
        margin-top: 30px;
    }
}

@media (max-width: 991.98px) {
	.ctaTitle {
		font-size: 2.5rem;
	}
	.ctaImage {
		top: -27px;
		right: 20px;
		width: 200px;
	}
}

@media (max-width: 767.98px) {
	.ctaTitle {
		font-size: 2rem;
	}
	.ctaImage {
        display: none;
	}
}

@media (max-width: 575.98px) {
	.ctaTitle {
		font-size: 1.5rem;
	}
}