.primaryNav {
	height: 80px;
}
.navbarBrand svg {
	width: 180px;
    height: 67px;
}
.primaryNav .navbarNav .navLink {
	color: #212529;
	font-weight: 500;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}
.dropdownItem {
	padding: .5rem 1rem;
}